<html>
Adding a new note for this patient...<br>
<b>You're now working on patient mrn: {{patientData[0][1]}}</b>
<a href="patientList">Main menu</a>
</head>
<body>

<hr>
<hr>
<hr>
<h1>[{{patientData[0][1]}}] Insofar, we've got the following:</h1>
<table border="1">
<tr>
<td>Date</td>
<td>Wcc</td>
<td>Lymph</td>
<td>Plt</td>
<td>LDH</td>
<td>CRP</td>
<td>Na+</td>
<td>Creatinine</td>
<td>D-dimer</td>
<td>L of oxygen</td>
<td>Temp</td>
<td>RR</td>
<td>Other investigations</td>
<td>Pctg of Oxygen</td>


</tr>
{%for i in patientDB%}
<tr>
<td>{{i[15]}}</td>
<td>{{i[1]}}</td>
<td>{{i[2]}}</td>
<td>{{i[3]}}</td>
<td>{{i[4]}}</td>
<td>{{i[5]}}</td>
<td>{{i[6]}}</td>
<td>{{i[7]}}</td>
<td>{{i[8]}}</td>
<td>{{i[9]}}</td>
<td>{{i[10]}}</td>
<td>{{i[11]}}</td>
<td>{{i[12]}}</td>
<td>{{i[14]}}</td>
</tr>
{%endfor%}
</table>




<div id="wrapper"> 
    <div id="header"> 
          <form method="POST" action="patients2">
            <p></p>
           
<input type="text" name="MRN" hidden="hidden" value="{{patientData[0][1]}}">
Wcc:<br>
<input type="number" name="Wcc" value=""><br>
Lymph:<br>
<input type="number" name="Lymph" value=""><br>
Plt:<br>
<input type="number" name="Plt" value=""><br>
D-dimer:<br>
<input type="number" name="Ddimer" value=""><br>
LDH:<br>
<input type="number" name="LDH" value=""><br>
Na:<br>
<input type="number" name="Na" value=""><br>
Creat:<br>
<input type="number" name="Creat" value=""><br>
CRP:<br>
<input type="number" name="CRP" value=""><br>
L O2/min:<br>
<input type="number" name="LofO2" value=""><br>
Temp:<br>
<input type="number" step="0.01" name="Temp" value=""><br>
RR:<br>
<input type="number" name="RR" value=""><br>
PctgO2:<br>
<input type="number" name="PctgO2" value=""><br>
Other Ix:<br>
<input type="text" name="OtherIx" value=""><br>




Location:<br>
<select name="Location">
  <option value="ED">ED</option>
  <option value="ITU">ITU</option>
  <option value="RAZA">RAZA</option>
  <option value="Ward">Ward</option>
  <option value="Discharge">DISCHARGE from ITU list</option>
  <option value="Discharge">DISCHARGE from ITU</option>
  <option value="Discharge">DISCHARGE from Hospital</option>
  <option value="Death">DEATH</option>
</select><br>
Date:<br>
<input type="date" name="Date" value=""><br>

			     <input type="submit" value="Submit">
        </form>

        

    </div>

</div>


</html>